body{
	margin: 0 ;
}

.bordure_footer{
	background-color: #DCDCDC;
	margin-top: auto;
	border-top: 2px solid black;
	border-bottom: 2px solid black;

}

.img_logo{
	width: 400px;
	border-right: 5px solid red;
	border-left: 5px solid red;
	border-top: 5px solid red;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
}

.logonike{
	width: 300px;
	margin: 5px;
	  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center{
	text-align: center;
}

.logojordan{
	width: 300px;
	  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logoadidas{
	width: 300px;
	  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer{
	display: inline-block;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
}
.bordure_footer{
    
    width: 100%;
    padding-bottom: 25px;
    padding-top: 25px;
	display: inline-block;
    text-align: center;
}
.simple{
	color: black;
	text-decoration: none;
	text-align: center;
}
.simple:hover{
	color: black;
	text-decoration: underline ;
}
.connexion{
	text-decoration: none;
}
.connexion:hover{
    color: white ;
}

.partenaire
{
text-decoration: none;	
}
.partenaire:hover
{

    color:	black;
}

.accueil{
text-decoration: none;	
}
.accueil:hover
{

    color:	white;
}

.contact{
text-decoration: none;	
}
.contact:hover
{

    color:	black;
}

.index{
text-decoration: none;	
}
.index:hover
{

    color:	black;
}
.boxpartenaire{
	padding: 25px;
}
.boxpartenaire:hover{
	background-color: red;
}

.boxcontact{
	padding: 25px;
}
.boxcontact:hover{
	background-color: red;
}

.boxindex{
	padding: 25px;
}
.boxindex:hover{
	background-color: red;
}

.boxaccueil{
	padding: 25px;
}
.boxaccueil:hover{
	background-color: darkblue;

}
.mail{
	text-align: center;
}

.gps{
	text-align: center;
}

.phone{
text-align: center;
}
.mailimg{
	width: 50px;
}

.gpsimg{
	width: 50px;
}

.phoneimg{
	width: 50px;
}

.nostyle{
	text-decoration: none;
	color: black;
}

.styletexte{
	color: darkblue;
	text-decoration: none;
}
.styletexte:hover{
	color: darkblue;
	text-decoration: underline 1px darkblue;
}

.black{
	background-color: black;
}